src/BlazorSignalRWebChat/Client/obj/
src/BlazorSignalRWebChat/Client/bin/
src/BlazorSignalRWebChat/Server/obj/
src/BlazorSignalRWebChat/Server/bin/
src/BlazorSignalRWebChat/Shared/obj/
src/BlazorSignalRWebChat/Shared/bin/
src/BlazorSignalRWebChat/.vs/
src/ContainerServices/.vs/
src/ContainerServices/obj/
src/ContainerServices/bin/
src/ContainerServices/ContainerServices.API/obj/
src/ContainerServices/ContainerServices.API/bin/
src/ContainerServices/ContainerServices.Web/obj/
src/ContainerServices/ContainerServices.Web/bin/
src/ContainerServices/ContainerServices.Shared/obj
src/ContainerServices/ContainerServices.Shared/bin/
